[submodule "nodeserv"]
	path = nodeserv
	url = https://github.com/synerex/synerex_nodeserv.git
[submodule "synerex_server"]
	path = synerex_server
	url = https://github.com/synerex/synerex_server.git
[submodule "synerex_sxutil"]
	path = synerex_sxutil
	url = https://github.com/synerex/synerex_sxutil.git
