
.terminaljs {
    height: 120px;
    font-size: 10pt;
    background: black;
    color: #aaa;
    font-family: Courier, monospace;
    /*	display:inline-block;*/
    overflow-y: scroll;
    overflow-x: auto;
    position: relative; 
}

table {
    border-collapse: collapse;
    border: 2px solid rgb(200,200,200);
    font-size: 0.8em;
}

th {
    border: 1px solid rgb(190,190,190);
}

th[scope="row"] {
    background-color: #696969;
    color: #fff;
}
