<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <title> Synerex beta example : Manager Dashboard </title>
    <link rel="stylesheet" href="static/term.css">
    <script src = "static/terminal.min.js"> </script>

    <style>
      .demo {
        width: 500px;
      }
  
      #terminal {
        line-height: 32px;
        padding: 5px;
      }
  
      #usage {
        font-family: Consolas, Menlo, Monaco, monospace;
        background-color: #2A242D;
        color: #FDFBFB;
        font-size: 12px;
      }
    </style>
</head>
<body>
    <div>
     Synerex beta example : Manager Dashboard
    </div>

    <button id="startNode">
      Start NodeServer
    </button>

    <div class="terminaljs" id="node-server"></div>
    <span>
      <button id="startSx">
        Start Synerex Server
      </button>
    </span>
     <div class="terminaljs" id="sx-server"></div>
    <span> 
      <button id="startUser"> UserProvider </button>
      <button id="getMenu"> menu </button> 
    </span>
    <br />
    <div class="terminaljs" id="user-provider"></div>
    <div>
      <table class="mtbl" id="menutable">
        <tr>
          <th>No. </th> <th> Shop </th> <th> Item </th> <th> Price </th>
        </tr>
      </table>
    </div>

    <button id="startSvc1"> ServiceProvider1 </button>
    <div class="terminaljs" id="svc1-provider"></div>
    <button id="startSvc2"> ServiceProvider2 </button>
    <div class="terminaljs" id="svc2-provider"></div>

    <script>
      var terms=[];
      var mtable = document.getElementById('menutable');

      function getNewHost(port){
        w = window.location.host
        if (w.indexOf(":") > 0){
          return w.split(":")[0]+":"+port
        }
        return w+":"+port
      }

      (function () {
        var conn;

        function connect(){
          conn = new WebSocket("ws://"+document.location.host+"/ws");
          conn.onclose = function(evt){
            console.log("WS Closed");
            setTimeout(function(){  // retry connect
              connect();
            }, 1000);
          }
          conn.onopen = function(evt){
            console.log("WS Connected");
          }
          conn.onmessage = function(event){
            //          console.log("Event Msg", event);
                      st = event.data;  // convert to string?
                      cpt = st.indexOf(',');
                      tid = st.substring(0,cpt);
                      str = st.substring(cpt+1);
                      terms.forEach(v => {  // 適切なターミナルに表示
                        if (v.id == tid) {
                          v.term.write(str)
                          v.term.write("\n\r")
                          v.p.scrollTo({
                            top: (v.term.state.cursor.y-10)*15,
                            left:0,
                            behavior: 'smooth'
                          })
                        }
                      });
                    }
            
        }

        connect()

 
        nodeterm = document.getElementById('node-server');
        var nodeT = new Terminal({columns:120, rows:20});
        nodeT.dom(nodeterm);
//        nodeT.write("Test!");
        terms.push({id: "node-server", term: nodeT, p:nodeterm});

        sxterm = document.getElementById('sx-server');
        var sxT = new Terminal({columns:120, rows:20});
        sxT.dom(sxterm);
//        sxT.write("SxTerm!");
        terms.push({id: "sx-server", term: sxT, p:sxterm});

        auxterm = document.getElementById('user-provider');
        var auxT = new Terminal({columns:120, rows:40});
        auxT.dom(auxterm);
        terms.push({id: "user-provider", term: auxT, p:auxterm});

        svc1term = document.getElementById('svc1-provider');
        var svc1T = new Terminal({columns:120, rows:40});
        svc1T.dom(svc1term);
        terms.push({id: "svc1-provider", term: svc1T, p:svc1term});

        svc2term = document.getElementById('svc2-provider');
        var svc2T = new Terminal({columns:120, rows:40});
        svc2T.dom(svc2term);
        terms.push({id: "svc2-provider", term: svc2T, p:svc2term});



        var stNode = document.getElementById('startNode');
        stNode.addEventListener('click', function(){
          console.log("send! node-server")
          conn.send("node-server,../nodeserv/nodeserv");
        })
        var stNode = document.getElementById('startSx');
        stNode.addEventListener('click', function(){
          console.log("send! sxterm")
          conn.send("sx-server,../synerex_server/synerex-server");
        })
        var userNode = document.getElementById('startUser');
        userNode.addEventListener('click', function(){
          conn.send("user-provider,../user_provider/user_provider");
        })

        var userMenu = document.getElementById('getMenu');
        userMenu.addEventListener('click', function(){
          console.log("Do menu!")
          fetch("http://"+getNewHost(8081)+"/menu").then( data => data.text()).then(
            data => console.log(data));
          var menuCon = new WebSocket("ws://"+getNewHost(8081)+"/ws");
          menuCon.onopen = ()=>{
            console.log("Menu connected!");
          }  
          menuCon.onmessage = (evt) =>{
            obj = JSON.parse(event.data);
            obj.items.foreach( (o)=>{
            })
          } 
        });

        var svc1Node = document.getElementById('startSvc1');
        svc1Node.addEventListener('click', function(){
          conn.send("svc1-provider,../service_provider/service_provider");
        })

        var svc2Node = document.getElementById('startSvc2');
        svc2Node.addEventListener('click', function(){
          conn.send("svc2-provider,../service_provider/service_provider -products ocha:2,coffee:4");
        })

        

        
      })();
    </script>
</body>
</html>
